*, 
*::before, 
*::after{ /* Seleziona tutti gli elementi, inclusi i before elements e gli after elements*/
  box-sizing: border-box;
  font-family: 'Finger Paint', sans-serif;
  font-weight: normal;
}

body{
  padding: 0;
  margin: 0;
  background: linear-gradient(to left, rgb(97, 206, 121), orange);
  display: flex;
  justify-content: center;
}

.calculator-grid{
  display: grid;
  justify-content: center; /* Al posto di align-item ho usato content perche ho bisogno che tutti gli elementi della griglia siano allineati*/
  align-content: center;
  /*min-height: 10vh;  vh significa view height, che vuol dire riempi il 100% dell'altezza visualizzata*/
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px); /* minmax dice: come minimo tieni la casella a 120px come massimo riempi automaticamente*/
  border: 5px solid rgba(13, 13, 14, 0.6);
  border-radius: 10px;
  height: 630px;
  width: 410px;
  margin-top: 100px;
}
.calculator-grid > button{
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .45); /* Il quarto numero indica la trasparenza da 0 a 1. in questo caso è 0,45% di trasparenza*/
}
.calculator-grid > button:hover{
  background-color: rgba(255, 0, 255, .2);
}

.span-two{
  grid-column: span 2; /* Questo serve per far occupare due spazi ad un elemento dentro la griglia*/
}

.output{
  grid-column: 1 / -1; /* qui dico che voglio andare dalla colonna numero 1 fino alla colonna numero -1, che è l'ultima colonna*/
  background-color: rgba(0, 0, 0, .45);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px; /* Il paadding è per dare un po di margine e non far apparire i numeri a ridosso del borso del contenitore*/
  word-wrap: break-word; /* Questo serve per interrompere il testo e farlo andare a capo*/
  word-break: break-all; /*Questo serve il tipo di interruzione (ci sono altri 3 valori ammessi)*/
}
.output .previous-operand{
  color: rgb(255, 255, 255, .65);
  font-size: 1.5rem;
}
.output .current-operand{
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}



